<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td{
            border: 1px solid black;
        }
        th,td{
            padding: 10px;
        }
    </style>
    <title>Books</title>
</head>
<body>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <!-- <th>#</th> -->
                <th>Book</th>
                <th>Author</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(e => { %> 
                <tr>
                    <!-- <td><%= index %></td> -->
                    <td><%= e.name %></td>
                    <td><%= e.author %></td>
                    <td><%= e.genre %></td>
                </tr>
            <% }) %>  
        </tbody>
    </table>
</body>
</html>